{% extends "base.html" %}
{% load static %}
{% block content1 %} 
<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center ">
   <div class="circular-image-container">
     <img class= "circular-image" src=" {% static 'images/mypic.jpg' %}" alt="Image">
   </div>
 </div>
 
 <div class="col-12 text-center ">
   <h4 class="title"> Hi, my name is </h4>
   <div class="name">
    <h1> Mandip Karki </h1>
    <h1> I am Software Engineer </h1>
   </div>
 </div>
</div>
  <div class="col-12 text-center mt-3">
  </div>

    <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center "> 
      <a href="https://www.linkedin.com/in/mandip-karki-3025302b8/" target="_blank" class="ms-3">
        <img src="{% static 'images/linkedin.jpg' %}" alt="linkedin.jpg" width="50" 
        height="50" class="social_links">
      </a> 

      <a href="https://www.instagram.com/mandipjkarki/" target="_blank" class="ms-3">
        <img src="{% static 'images/instagram.jpg' %}" alt="instagram.jpg" width="50" 
        height="50" class="social_links">
      </a> 

    </div>   
  </div>

{% endblock content1 %}